/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

h1, h2 {
    color: #333;
}

#intro {
    text-align: center;
    margin-bottom: 40px;
}

#featured-destinations, #recipes {
    margin-top: 40px;
}

#destinations-list, #recipes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#destinations-list div, #recipes-list div {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
    #destinations-list div, #recipes-list div {
        width: 100%;
    }
}
